{{ linklists }}

<ul class="header__nav_list clearfix">
    <li>
        <a href="">Blogs</a>
    </li>
    <li>
        <a href="">Contacts</a>
    </li>
    <li class="sub">
        <span>Technical Support</span>
        <ul class="sub__list">
            <li>
                <a href="">Return & Delivery</a>
            </li>
            <li>
                <a href="">Technical Support </a>
            </li>
            <li>
                <a href="">Certificates </a>
            </li>
            <li>
                <a href="">FAQ</a>
            </li>                                
        </ul>
    </li>
</ul>


{% schema %}
  {
    "name": "Top navigation",
    "class" : "fl",
    "settings": [
      {
        "type" : "header",
        "content" : "Add menu items"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
