
<main class="contacts">
  <div class="wrapper">
    <h1>{{page.title}}</h1>
	{% section 'contacts-main-address' %}
    <div class="other-contacts-mobile"><span id="other-contacts">See our offices in other countries</span></div>
	{% section 'contacts-more-address' %}
  </div>
</main>